services:
  webapp:
    container_name: consilium-api
    networks:
      - consilium
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile
    ports:
      - 8080:8080
    environment:
      - DB_CONN=Host=db;Port=5432;Username=consilium-admin;Password=mypassword;Database=consiliumdb
    depends_on:
      - db

  db:
    image: postgres
    container_name: consilium-db
    networks:
      - consilium
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: mypassword
      POSTGRES_USER: consilium-admin
      POSTGRES_DB: consiliumdb
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      # - ./dbdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
      
networks:
  consilium:
    name: consilium_network